/* 
id on wrapper: slider-banner-wrapper
id on rail: slider-banner-rail 
id on arrow-wrapper: arrow-banner-wrapper
*/

#slider-banner-wrapper {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100vw;
  margin: auto;
  touch-action: pan-y;
}

#slider-banner-rail {
  display: flex;
  height: 100%;
  width: 100%;
  will-change: transform;
}

#slider-banner-rail li {
  flex-shrink: 0;
  width: 100%;
}

#slider-banner-rail li img {
  width: 100%;
}
