/* 
id on wrapper: slider-banner-wrapper
id on rail: slider-banner-rail 
id on arrow-wrapper: arrow-banner-wrapper
*/

#slider-banner-wrapper {
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100vw;
  margin: auto;
  touch-action: pan-y;
}

#slider-banner-rail {
  display: flex;
  height: 100%;
  width: 100%;
  will-change: transform;
}

#slider-banner-rail li {
  flex-shrink: 0;
  width: 100%;
}

#slider-banner-rail li img {
  width: 100%;
}

/* navigation */

#arrow-banner-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#arrow-banner-wrapper button {
  background: transparent;
  color: #aaa;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.5s ease;
}

#arrow-banner-wrapper button:hover {
  color: #fff;
}

#arrow-banner-wrapper svg {
  width: 6rem;
  height: 6rem;
  transition: color 0.3s ease;
}

[data-ctrl='rail-dot'] {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-self: center;
  bottom: 3rem;
  gap: 1rem;
}

[data-ctrl='rail-dot'] a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #aaa;
  pointer-events: auto;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.8);
}

[data-ctrl='rail-dot'] a:hover {
  transform: scale(1.1);
  background-color: #fff;
}

[data-ctrl='rail-dot'] a.active-dot {
  background-color: #fff;
  transform: scale(1.1);
}

[data-ctrl='rail-dot'] a.disabled {
  pointer-events: none !important;
  opacity: 0.5;
  cursor: default;
  background-color: #ccc;
  user-select: none;
}
