/* 
id on wrapper: slider-gallery-wrapper
id on rail: slider-gallery-rail 
id on arrow-wrapper: arrow-gallery-wrapper
*/

#slider-gallery-wrapper {
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 50vw;
  margin: auto;
  touch-action: pan-y;
}

#slider-gallery-rail {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  will-change: transform;
}

#slider-gallery-rail li {
  flex-shrink: 0;
  width: 100%;
}

#slider-gallery-rail li img {
  width: 100%;
}

/* navigation */

#arrow-gallery-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#arrow-gallery-wrapper button {
  background: transparent;
  color: #aaa;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.5s ease;
}

#arrow-gallery-wrapper button:hover {
  color: #fff;
}

#arrow-gallery-wrapper svg {
  width: 4rem;
  height: 4rem;
  transition: color 0.3s ease;
}

[data-control='default'] {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-self: center;
  bottom: 3rem;
  gap: 0.8rem;
}

[data-control='default'] a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #aaa;
  pointer-events: auto;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.8);
}

[data-control='default'] a:hover {
  transform: scale(1.1);
  background-color: #fff;
}

[data-control='default'] li.active-dot a {
  background-color: #fff;
  transform: scale(1.1);
}

[data-control='default'] a.disabled {
  pointer-events: none !important;
  opacity: 0.5;
  cursor: default;
  background-color: #ccc;
  user-select: none;
}

/* custom control */

#custom-control {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  scrollbar-width: none;
  justify-content: center;
}

#custom-control::-webkit-scrollbar {
  display: none;
}

#custom-control li {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  cursor: pointer;
  opacity: 0.7;
  border: 1px solid transparent;
  transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}
#custom-control li:hover,
#custom-control li.active-dot {
  opacity: 1;
  border-color: #fff;
}
