/* 
id on wrapper: slider-gallery-wrapper
id on rail: slider-gallery-rail 
id on arrow-wrapper: arrow-gallery-wrapper
*/

#slider-gallery-wrapper {
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 50vw;
  margin: auto;
  touch-action: pan-y;
}

#slider-gallery-rail {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  will-change: transform;
}

#slider-gallery-rail li {
  flex-shrink: 0;
  width: 100%;
}

#slider-gallery-rail li img {
  width: 100%;
}
