*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

svg {
  max-width: auto;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
